<<<<<<< HEAD
=======
body {
    
    padding: 0;
    background-color: #fff8e7;
    text-align: center;
    
}

.slide-text {
    position: absolute;
    bottom: 30px;
    left: 20px;
    color: #fff8e7;
    
    
    padding: 10px 15px;
    border-radius: 5px;
}

header {
    text-align: center;
    color:#2e8b57;
    padding: 20px;
}
.nav{
    background-color: aqua;
    padding: 10px;
}

.nav-links {
    background: #2e8b57;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-family: 'Arial', sans-serif;
    border-radius: 15px;
    flex-direction: row;
   

}
.logo {
    font-size: 50px;
    font-weight: bold;
    color: #2e8b57;
    
}

.nav-links a:hover {
    text-decoration: wavy;
    color: #605598;
}
.attractions-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 15px;
    }
.attractions-card {
    flex: 1 1 220px;
    background-color: #2e8b57;
    padding: 15px;
    border-radius: 15px 0 15px 0;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
    overflow: hidden
    transition: transform 0.3s ease;
}

/*hover lift effect*/
.attractions-card:hover {
    transform: translateY(-10px);
}
.attractions-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s ease;
}
.attractions-card:hover .attractions-image {
    transform: scale(1.1);
}
.section-title {
    text-align: center;
    font-size: 25px;
    color: #8b5a2b;
    margin-bottom: 25px;
}
/* grid container*/
.ttractions-grid2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230, 1fr));
    gap: 25px;
}
.attractions-image2 {
   
   max-width: 600px;
    margin: 0 auto;
    text-align: center;
    background: #8b5a2b;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 40px;
    transition: 0.3s ease;
}
.attractions-image2:hover {
    transform:translate(-7px)
    

}
.attractions-image2 img {
    width: 50%;
    height: 150px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 10px;
}
.footer {
    background-color: #2e8b57;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 30px;
}
.slideshow-container {
    width: 100%;
    height: 350px;
    position: relative;
    overflow: hidden;
}

/* Each slide sits on top of each other */
.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;               
    animation: slideShow 12s infinite;
}

/* Animation delays (3 images = 3 delays) */
.slide:nth-child(1) {
    animation-delay: 0s;
}
.slide:nth-child(2) {
    animation-delay: 4s;
}
.slide:nth-child(3) {
    animation-delay: 8s;
}

/* Image fits container */
.slide img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 10;
}

/* Fade animation */
@keyframes slideShow {
    0% { opacity: 0; }
    10% { opacity: 1; }
    30% { opacity: 1; }
    40% { opacity: 0; }
    100% { opacity: 0; }
}
.footer {
 color: #fff8e7;
}
.attractions-image h3 {
    color: #fff8e7;
}
>>>>>>> 9d181331b877fa39a4d554e299665c2cddf28e2c
