body{
    background: color #fff8e7 ;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}
header{
    background: color #2e8b57;
    color: white;
    padding: 20px;
    text-align: center;
}
section{
    margin: 20px;
    padding: 20px;
    background: white;
}
footer{
    text-align: center;
    padding: 10px;
    background: color #2e8b57;
    color: #ffffff;
}